.main-container{

    height: 500px !important;
    background-color: aqua;
}
@media (max-width: 320px) {
    .main-container{
        background-color: blueviolet;
    }
}
@media (min-width: 321px) and (max-width: 418px) {
    .main-container{
        background-color: brown;
    }
}
@media (min-width: 419px) and (max-width: 528px) {
    .main-container{
        background-color: red;
    }
}
@media (min-width: 529px) and (max-width: 768px) {
    .main-container{
        background-color: blue;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .main-container{
        background-color: orange;
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    .main-container{
        background-color: yellowgreen;
    }
}
@media (min-width: 1920px) {
    .main-container{
        background-color: yellow;
    }
}
